.bio {
    text-align: justify;
    font-size: 17px;
    background-color: hsla(0,0%,100%,.87);
    padding: 20px 20px;
    box-shadow: 0 0 10px -3px #000;
    color: #000;
    font-weight: 200;
    margin-top: 150px;
}

.image {
    width: 35%;
    height: 60%;
    margin-top: 50px;
    position: absolute;
}

.modal-dialog {
    max-width: 940px;
    margin: 1.75rem auto;
}

.btn-outline-success {
    color: #373f39;
    border-color: #3d453e;
    margin: 0px 16px;
}

.btn-outline-success:hover {
    color: #fff !important;
    background-color: #a6b7a3;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 108, 88, 0.5);
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 108, 88, 0.5);
}

#maindiv {
    height: 100%;
    background-image: url(https://wallpaperplay.com/walls/full/d/8/b/329997.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}